absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.6.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
blinker==1.4
blis==0.7.5
boto3==1.20.28
botocore==1.23.28
bravado==11.0.3
bravado-core==5.17.0
brotlipy==0.7.0
cachetools==4.2.2
catalogue==2.0.6
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
cryptography==36.0.1
cycler==0.11.0
cymem==2.0.6
Cython==0.29.23
cytoolz==0.11.0
dask==2021.10.0
dataclasses==0.8
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
ekphrasis==0.5.1
emoji==1.6.1
en-core-web-sm==3.2.0
entrypoints==0.3
filelock==3.4.0
flatbuffers==2.0
flit_core==3.6.0
fonttools==4.25.0
frozenlist==1.2.0
fsspec==2022.1.0
ftfy==5.8
future==0.18.2
gast==0.4.0
gensim==4.0.1
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.38.1
h5py==2.10.0
huggingface-hub==0.1.2
idna==3.3
imagecodecs==2021.8.26
imageio==2.9.0
importlib-metadata==4.10.0
ipykernel==6.6.1
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonref==0.2
jsonschema==3.2.0
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==23.4.0
kiwisolver==1.3.1
knockknock==0.1.8.1
langcodes==3.3.0
lime==0.2.0.1
locket==0.2.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
matrix-client==0.4.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
monotonic==1.5
more-itertools==8.5.0
msgpack==1.0.3
multidict==5.2.0
munkres==1.1.4
murmurhash==1.0.6
nbclient==0.5.9
nbconvert==6.4.0
nbformat==5.1.3
neptune-client==0.14.1
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.6.5
notebook==6.4.6
numpy==1.21.2
oauthlib==3.1.1
olefile==0.46
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==22.0.3
preshed==3.0.6
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.18.0
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.21
pydantic==1.8.2
Pygments==2.11.1
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-telegram-bot==13.9
pytorch-ranger==0.1.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyu2f==0.1.5
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.5.0
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.1
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.0
sentencepiece==0.1.95
setuptools==60.8.1
shellingham==1.4.0
simplejson==3.17.6
sip==4.19.13
six==1.16.0
smart-open==5.2.1
smmap==3.0.5
soynlp==0.0.493
spacy==3.2.3
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
swagger-spec-validator==2.7.4
tensorboard==2.7.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==2.2.0
tifffile==2021.7.2
tokenizers==0.10.3
toolz==0.11.2
torch==1.10.0
torch-optimizer==0.3.0
torchaudio==0.10.0
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.12.5
twilio==7.4.0
typer==0.4.0
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
ujson==5.1.0
urllib3==1.26.7
waiting==1.4.1
wasabi==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.1
wheel==0.37.1
widgetsnbextension==3.5.2
wrapt==1.13.3
yagmail==0.14.260
yarl==1.7.2
zipp==3.6.0
